<h1 class="page-header">
    <span ng-bind="season.details.name"></span><br>
    <small ng-bind="season.details.description"></small>
</h1>
<div ng-if="season.isCurrentUserGroupModerator">
    <button class="btn btn-success" ng-click="season.createContest()">
        Create new contest&nbsp;
        <i class="glyphicon glyphicon glyphicon-plus"></i>
    </button>

    <button class="btn btn-warning" ng-click="season.editSeason()">
        Edit season&nbsp;
        <i class="glyphicon glyphicon-edit"></i>
    </button>
</div>

<h2 class="sub-header clickable" ng-click="season.collapse(season.contests)">
    <i class="pull-left glyphicon"
       ng-class="
           {'glyphicon-chevron-down': season.contests.isCollapsed,
            'glyphicon-chevron-right': !season.contests.isCollapsed}">
    </i>
    &nbsp;Contests
</h2>
<div uib-collapse="season.contests.isCollapsed" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>name</th>
            <th>start date</th>
            <th>finish uploading date</th>
            <th>finish voting date</th>
            <th>status</th>
            <th ng-if="season.isCurrentUserGroupModerator">actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contest in season.contests.array">
            <td>
                <strong ng-bind="contest.name"></strong>&nbsp;
                <a class="btn btn-default btn-xs"
                   ui-sref="dashboard.contest({groupId: season.groupId, seasonId: season.id, contestId: contest.id})">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </a>
            </td>
            <td ng-bind="contest.startDate | amDateFormat:'DD-MM-YYYY &nbsp;(HH:mm)'"></td>
            <td ng-bind="contest.finishUploadingDate | amDateFormat:'DD-MM-YYYY &nbsp;(HH:mm)'"></td>
            <td ng-bind="contest.finishVotingDate | amDateFormat:'DD-MM-YYYY &nbsp;(HH:mm)'"></td>
            <td>
                <span class="label" ng-class="season.getContestStatusClass(contest.contestStatus)"
                      ng-bind="contest.contestStatus"></span>
            </td>
            <td ng-if="season.isCurrentUserGroupModerator">
                <button ng-if="contest.contestStatus !== 'CLOSED'"
                        class="btn btn-warning btn-xs" ng-click="season.editContest(contest)">
                    Edit&nbsp;
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>