<h1 class="page-header">Groups</h1>

<button class="btn btn-success" ng-click="groups.createGroup()">
    Create new group&nbsp;
    <i class="glyphicon glyphicon glyphicon-plus"></i>
</button>

<h2 class="sub-header clickable" ng-click="groups.collapse(groups.userGroups)">
    <i class="pull-left glyphicon"
       ng-class="
           {'glyphicon-chevron-down': groups.userGroups.isCollapsed,
            'glyphicon-chevron-right': !groups.userGroups.isCollapsed}">
    </i>
    &nbsp;My groups
</h2>
<div uib-collapse="groups.userGroups.isCollapsed" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>name</th>
            <th>description</th>
            <th>type</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups.userGroups.array">
            <td><a ng-bind="group.name" ui-sref="dashboard.group({id: group.id})"></a></td>
            <td ng-bind="group.description"></td>
            <td>
                <div ng-bind="group.type" class="label" ng-class="groups.getTypeClass(group.type)"></div>
            </td>
            <td>
                <button class="btn btn-warning btn-xs" ng-click="groups.leave(group.id)">Leave</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h2 class="sub-header clickable" ng-click="groups.collapse(groups.otherGroups)">
    <i class="pull-left glyphicon"
       ng-class="
           {'glyphicon-chevron-down': groups.otherGroups.isCollapsed,
            'glyphicon-chevron-right': !groups.otherGroups.isCollapsed}">
    </i>
    &nbsp;Other groups
</h2>
<div uib-collapse="groups.otherGroups.isCollapsed" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>name</th>
            <th>description</th>
            <th>type</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="group in groups.otherGroups.array">
            <td ng-bind="group.name"></td>
            <td ng-bind="group.description"></td>
            <td>
                <div ng-bind="group.type" class="label" ng-class="groups.getTypeClass(group.type)"></div>
            </td>
            <td>
                <button class="btn btn-primary btn-xs" ng-click="groups.join(group.id)">Join</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>