<div class="home-page">
    <nav class="navbar navbar-inverse navbar-fixed-top sign-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">League of Photos</a>
            </div>
            <div ng-if="!vm.afterSignUp" id="navbar" class="navbar-collapse collapse">
                <lop-login-form form-class="navbar-form navbar-right"  user-profile="vm.userProfile"></lop-login-form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div id="home" class="full">
        <div class="jumbotron">
            <div class="container hello">
                <div ng-if="!vm.afterSignUp">
                    <h1>League of Photos</h1>
                    <p>Do not wait! Sign up for free and join us right now!</p>
                    <br>
                    <lop-signup-form after-sign-up="vm.afterSignUp"></lop-signup-form>
                </div>
                <div ng-if="vm.afterSignUp">
                    <h1>Registration successful</h1>
                    <p>Sign in below</p>
                    <lop-login-form btn-size="btn-lg" user-profile="vm.userProfile"></lop-login-form>
                </div>
            </div>
        </div>
    </div>
</div>