<h1 class="page-header"><span ng-bind="ranking.contestDetails.name"></span> - ranking</h1>

<h2 class="sub-header clickable" ng-click="ranking.collapse(ranking.scores)">
    <i class="pull-left glyphicon"
       ng-class="
           {'glyphicon-chevron-down': ranking.scores.isCollapsed,
            'glyphicon-chevron-right': !ranking.scores.isCollapsed}">
    </i>
    &nbsp;Scores
</h2>
<div uib-collapse="ranking.scores.isCollapsed" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>place</th>
            <th>username</th>
            <th>image</th>
            <th>votes</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="score in ranking.scores.array">
            <td>
                <div ng-bind="$index + 1" class="label" ng-class="ranking.getPlaceClass($index + 1)"></div>
            </td>
            <td ng-bind="score.username"></td>
            <td>
                <a class="btn btn-default btn-xs" ng-href="data:image/png;base64,{{score.imageContent}}">show</a>
                <!--<img class="img-circle" ng-src="data:image/JPEG;base64,{{score.imageContent}}" width="50px">-->
            </td>
            <td><span class="label label-info" ng-bind="score.votes"></span></td>
        </tr>
        </tbody>
    </table>
</div>