<h1 class="page-header">
    <span ng-bind="group.details.name"></span><br>
    <small ng-bind="group.details.description"></small>
</h1>
<button class="btn btn-success" ng-click="group.createSeason()">
    Create new season&nbsp;
    <i class="glyphicon glyphicon-plus"></i>
</button>

<button class="btn btn-warning" ng-click="group.editGroup()">
    Edit group&nbsp;
    <i class="glyphicon glyphicon-edit"></i>
</button>

<h2 class="sub-header clickable" ng-click="group.collapse(group.seasons)">
    <i class="pull-left glyphicon"
       ng-class="
           {'glyphicon-chevron-down': group.seasons.isCollapsed,
            'glyphicon-chevron-right': !group.seasons.isCollapsed}">
    </i>
    &nbsp;Seasons
</h2>
<div uib-collapse="group.seasons.isCollapsed" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>name</th>
            <th>start date</th>
            <th>finish date</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="season in group.seasons.array">
            <td>
                <strong ng-bind="season.name"></strong>&nbsp;
                <a class="btn btn-default btn-xs"
                   ui-sref="dashboard.season({groupId: group.details.id, seasonId: season.id})">
                    <i class="glyphicon glyphicon-eye-open"></i>
                </a>
            </td>
            <td ng-bind="season.startDate | amDateFormat:'DD-MM-YYYY &nbsp;(HH:mm)'"></td>
            <td ng-bind="season.finishDate | amDateFormat:'DD-MM-YYYY &nbsp;(HH:mm)'"></td>
            <td>
                <span class="label" ng-class="group.getSeasonStatusClass(season.seasonStatus)"
                      ng-bind="season.seasonStatus"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<h2 class="sub-header clickable" ng-click="group.collapse(group.users)">
    <i class="pull-left glyphicon"
       ng-class="
           {'glyphicon-chevron-down': group.users.isCollapsed,
            'glyphicon-chevron-right': !group.users.isCollapsed}">
    </i>
    &nbsp;Users
</h2>
<div uib-collapse="group.users.isCollapsed" class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>username</th>
            <th>role</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in group.users.array">
            <td>
                <strong ng-bind="user.username"></strong>
            </td>
            <td><span class="label" ng-class="group.getMemberStatusClass(user)" ng-bind="user.memberStatus"></span></td>
        </tr>
        </tbody>
    </table>
</div>