<div class="modal-header">
    <h3 class="modal-title"><span ng-bind="group.titlePrefix"></span> group:</h3>
</div>
<form name="form" ng-submit="form.$valid && group.save()" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-success': !form.name.$invalid,
        'has-error': form.name.$invalid && form.name.$touched}">
            <label for="newGroupName">Name</label>
            <input type="text" class="form-control" id="newGroupName"
                   ng-model="group.new.name" required name="name">
        </div>
        <div class="form-group">
            <label for="newGroupDescription">Description</label>
            <textarea class="form-control" id="newGroupDescription" ng-model="group.new.description"></textarea>
        </div>
        <div class="radio" ng-repeat="type in group.types" required>
            <label class="active">
                <input type="radio" name="types" ng-model="group.new.type" ng-value="type.value">
                <span class="{{type.class}}" ng-bind="type.name"></span>
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid">Save</button>
        <button class="btn btn-warning" type="button" ng-click="group.cancel()">Cancel</button>
    </div>
</form>
