.home-page {
    margin-top: -50px;
}

.full {
    background: url('../img/background.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh
}

.full .jumbotron {
    padding: 50px;
    background: none;
    color: white;
    text-align: right;
}

.full .jumbotron h1 {
    color: whitesmoke;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    /*-webkit-box-shadow: 0 0 0px 1000px rgba(34, 34, 34, 0.8) inset !important;*/
    -webkit-text-fill-color: #00b100 !important;
}

.full .jumbotron .form-control {
    color: whitesmoke;
}

.full .hello {
    margin-top: 50px;
    padding-bottom: 25px;
    float: right !important;
    width: auto;
    background-color: rgb(64, 64, 64);
    background-color: rgba(64, 64, 64, 0.75);
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    -webkit-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.5);
    /*border: 1px solid #2c2c2c;*/
}

.sign-nav {
    background-color: rgba(34, 34, 34, 0.8);
    border: none;
}