<h1 class="page-header">
    <span ng-bind="vp.contestDetails.name"></span> - Voting Phase<br>
    <small ng-bind="vp.contestDetails.description"></small>
</h1>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="image in vp.images">
        <figure>
            <h3 ng-bind="image.title">Current image:</h3>
            <img class="img-rounded clickable" ng-src="data:image/JPEG;base64,{{image.content}}" width="100%"
                 ng-click="vp.enlargeImage($index)">
            <figcaption><span ng-bind="image.rating"></span></figcaption>
        </figure>
    </div>
</div>