<div ng-if="contest.details.contestStatus === 'AVAILABLE_SOON'">
    <h1>Contest start at {{contest.details.startDate | amDateFormat:'DD-MM-YYYY &nbsp;(HH:mm)'}}</h1>
</div>
<div ng-if="contest.details.contestStatus === 'UPLOADING'">
    <lop-uploading-phase contest-details="contest.details"></lop-uploading-phase>
</div>
<div ng-if="contest.details.contestStatus === 'VOTING'">
    <lop-voting-phase contest-details="contest.details"></lop-voting-phase>
</div>
<div ng-if="contest.details.contestStatus === 'CLOSED'">
    <lop-contest-ranking contest-details="contest.details"></lop-contest-ranking>
</div>