<div class="modal-header">
    <h3 class="modal-title"><span ng-bind="contest.titlePrefix"></span> contest:</h3>
</div>
<form name="form" ng-submit="form.$valid && contest.save()" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-success': !form.name.$invalid,
        'has-error': form.name.$invalid && form.name.$touched}">
            <label for="newContestName">Name</label>
            <input type="text" class="form-control" id="newContestName"
                   ng-model="contest.new.name" required name="name">
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-success': !form.startDate.$invalid,
        'has-error': form.startDate.$invalid && form.startDate.$touched}">
            <label for="newContestStartDate">From</label>
            <p class="input-group">
                <input id="newContestStartDate" type="text" class="form-control date-picker"
                       uib-datepicker-popup="{{contest.dateFormat}}" ng-readonly="true"
                       ng-model="contest.new.startDate" is-open="contest.startDatepicker.opened"
                       datepicker-options="contest.startDatepicker.dateOptions" close-text="Close"
                       placeholder="dd-MM-yyyy" ng-click="contest.open(contest.startDatepicker)"
                       name="startDate" required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="contest.open(contest.startDatepicker)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
            </p>
            <uib-timepicker ng-model="contest.new.startDate" show-meridian="false"></uib-timepicker>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-success': !form.finishUploadingDate.$invalid,
        'has-error': form.finishUploadingDate.$invalid && form.finishUploadingDate.$touched}">
            <label for="newContestFinishUploadingDate">To (Uploading)</label>
            <p class="input-group">
                <input id="newContestFinishUploadingDate" type="text" class="form-control date-picker"
                       uib-datepicker-popup="{{contest.dateFormat}}" ng-readonly="true"
                       ng-model="contest.new.finishUploadingDate" is-open="contest.finishUploadingDatepicker.opened"
                       datepicker-options="contest.finishUploadingDatepicker.dateOptions" close-text="Close"
                       placeholder="dd-MM-yyyy" ng-click="contest.open(contest.finishUploadingDatepicker)"
                       name="finishUploadingDate" required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="contest.open(contest.finishUploadingDatepicker)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
            </p>
            <uib-timepicker ng-model="contest.new.finishUploadingDate" show-meridian="false"></uib-timepicker>
        </div>
        <div class="form-group col-sm-4" ng-class="{'has-success': !form.finishVotingDate.$invalid,
        'has-error': form.finishVotingDate.$invalid && form.finishVotingDate.$touched}">
            <label for="newContestFinishVotingDate">To (Voting)</label>
            <p class="input-group">
                <input id="newContestFinishVotingDate" type="text" class="form-control date-picker"
                       uib-datepicker-popup="{{contest.dateFormat}}" ng-readonly="true"
                       ng-model="contest.new.finishVotingDate" is-open="contest.finishVotingDatepicker.opened"
                       datepicker-options="contest.finishVotingDatepicker.dateOptions" close-text="Close"
                       placeholder="dd-MM-yyyy" ng-click="contest.open(contest.finishVotingDatepicker)"
                       name="finishVotingDate" required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                            ng-click="contest.open(contest.finishVotingDatepicker)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
            </p>
            <uib-timepicker ng-model="contest.new.finishVotingDate" show-meridian="false"></uib-timepicker>
        </div>
        <div class="form-group">
            <label for="newContestDescription">Description</label>
            <textarea class="form-control" id="newContestDescription" ng-model="contest.new.description"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid">Save</button>
        <button class="btn btn-warning" type="button" ng-click="contest.cancel()">Cancel</button>
    </div>
</form>